@import "tailwindcss";

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Home fade from bottom */
@keyframes fadeUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.8s ease-out forwards;
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease-out forwards;
}

::-webkit-scrollbar {
  display: none;
}
